{% load i18n %}
<div class="header">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-nav-links" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{% url "thoughts:index" %}" class="navbar-brand">Thoughts</a>
      </div>
      <div class="collapse navbar-collapse" id="top-nav-links">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="{% url 'thoughts:statistics' %}">
              <span class="glyphicon glyphicon-signal" aria-hidden="true"></span> Statistics
            </a>
          </li>
          {% if user.is_authenticated %}
            <li>
              <a href="{% url 'thoughts:thought-add' %}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new thought
              </a>
            </li>
            <li>
              <a href="{% url 'accounts:profile-proxy' %}">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ user.username }}
              </a>
            </li>
            <li>
              <a href="{% url 'auth_logout' %}?next={% url 'thoughts:index' %}">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> {% trans "Log out" %}
              </a>
            </li>
          {% else %}
            <li>
              <a href="{% url 'registration_register' %}">
                <span class="glyphicon glyphicon-copy" aria-hidden="true"></span> {% trans "Register" %}
              </a>
            </li>
            <li>
              <a href="{% url 'auth_login' %}">
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> {% trans "Login" %}
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</div>
