body {
  background-image: url("../images/bg.png"); }

.header nav.navbar {
  border-radius: 0;
  -webkit-box-shadow: 8px 8px 11px -5px rgba(97, 94, 97, 0.69);
  -moz-box-shadow: 8px 8px 11px -5px rgba(97, 94, 97, 0.69);
  box-shadow: 8px 8px 11px -5px rgba(97, 94, 97, 0.69); }

.main {
  margin-top: 70px;
  margin-bottom: 20px; }

.thoughts-page {
  background-color: #fff;
  padding: 0 0 20px;
  border-radius: 3px;
  border: 1px solid #d8d8d8; }
  .thoughts-page h1 {
    text-align: center;
    background-color: #323a54;
    color: #fff;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 0 30px; }
  .thoughts-page .thoughts {
    padding: 10px 30px; }
  .thoughts-page .thought {
    margin-bottom: 25px;
    color: black;
    transition: all 0.2s;
    padding: 20px 10px 15px;
    border-radius: 5px;
    -webkit-box-shadow: 8px 8px 11px -5px rgba(97, 94, 97, 0.69);
    -moz-box-shadow: 8px 8px 11px -5px rgba(97, 94, 97, 0.69);
    box-shadow: 8px 8px 11px -5px rgba(97, 94, 97, 0.69); }
    .thoughts-page .thought .thought-author-info .avatar-wrapper {
      text-align: center; }
      .thoughts-page .thought .thought-author-info .avatar-wrapper .avatar {
        border-radius: 50%;
        width: 75px;
        height: 75px;
        border: 3px solid #ff8b28;
        text-align: center; }
        .thoughts-page .thought .thought-author-info .avatar-wrapper .avatar.m {
          border-color: #287eff; }
        .thoughts-page .thought .thought-author-info .avatar-wrapper .avatar.f {
          border-color: #ff28e4; }
    .thoughts-page .thought .thought-author-info .nickname {
      text-align: center;
      font-weight: bold;
      padding-top: 5px; }
      .thoughts-page .thought .thought-author-info .nickname span {
        color: #ff8b28; }
        .thoughts-page .thought .thought-author-info .nickname span.f {
          color: #ff28e4; }
        .thoughts-page .thought .thought-author-info .nickname span.m {
          color: #287eff; }
    .thoughts-page .thought .thought-content {
      color: black;
      min-height: 95px; }
      .thoughts-page .thought .thought-content p {
        padding: 5px 10px; }
    .thoughts-page .thought .info {
      margin-top: 12px;
      border-top: 1px solid rgba(125, 98, 98, 0.3); }
      .thoughts-page .thought .info .date, .thoughts-page .thought .info .comments-quantity {
        font-size: 13px;
        color: #313131;
        padding: 10px 15px 0;
        float: right;
        font-family: 'Arial', sans-serif;
        font-style: italic; }
    .thoughts-page .thought-positive {
      background-color: rgba(185, 255, 171, 0.76); }
      .thoughts-page .thought-positive:hover {
        background-color: #a8ef99; }
    .thoughts-page .thought-negative {
      background-color: rgba(255, 187, 198, 0.76); }
      .thoughts-page .thought-negative:hover {
        background-color: #ffa2b1; }
    .thoughts-page .thought-neutral {
      background-color: rgba(230, 230, 230, 0.76); }
      .thoughts-page .thought-neutral:hover {
        background-color: #d0cece; }
  .thoughts-page a:hover {
    text-decoration: none; }

.thought-update-page {
  background-color: #FFF;
  padding: 20px 40px 80px;
  border-radius: 3px;
  border: 1px solid #d8d8d8; }
  .thought-update-page .wrapper {
    position: relative; }
    .thought-update-page .wrapper form button {
      position: absolute; }
    .thought-update-page .wrapper .thought-delete-button {
      margin-left: 100px; }

.detail-page .thought {
  margin-bottom: 25px;
  color: black;
  transition: all 0.2s;
  padding: 20px 10px 15px;
  border-radius: 5px;
  -webkit-box-shadow: 8px 8px 11px -5px rgba(97, 94, 97, 0.69);
  -moz-box-shadow: 8px 8px 11px -5px rgba(97, 94, 97, 0.69);
  box-shadow: 8px 8px 11px -5px rgba(97, 94, 97, 0.69); }
  .detail-page .thought .thought-author-info .avatar-wrapper {
    text-align: center; }
    .detail-page .thought .thought-author-info .avatar-wrapper .avatar {
      border-radius: 50%;
      width: 75px;
      height: 75px;
      border: 3px solid #ff8b28;
      text-align: center; }
      .detail-page .thought .thought-author-info .avatar-wrapper .avatar.m {
        border-color: #287eff; }
      .detail-page .thought .thought-author-info .avatar-wrapper .avatar.f {
        border-color: #ff28e4; }
  .detail-page .thought .thought-author-info .nickname {
    text-align: center;
    font-weight: bold;
    padding-top: 5px; }
    .detail-page .thought .thought-author-info .nickname span {
      color: #ff8b28; }
      .detail-page .thought .thought-author-info .nickname span.f {
        color: #ff28e4; }
      .detail-page .thought .thought-author-info .nickname span.m {
        color: #287eff; }
  .detail-page .thought .thought-content {
    color: black;
    min-height: 95px; }
  .detail-page .thought .info {
    margin-top: 12px;
    border-top: 1px solid rgba(125, 98, 98, 0.3); }
    .detail-page .thought .info .date, .detail-page .thought .info .comments-quantity {
      font-size: 13px;
      color: #313131;
      padding: 10px 15px 0;
      float: right;
      font-family: 'Arial', sans-serif;
      font-style: italic; }
  .detail-page .thought-positive {
    background-color: rgba(185, 255, 171, 0.76); }
  .detail-page .thought-negative {
    background-color: rgba(255, 187, 198, 0.76); }
  .detail-page .thought-neutral {
    background-color: rgba(230, 230, 230, 0.76); }
.detail-page .comments {
  background-color: #FFF;
  padding: 20px 40px 20px;
  border-radius: 3px;
  border: 1px solid #d8d8d8; }
  .detail-page .comments .title {
    font-size: 25px;
    margin: 15px 0; }
  .detail-page .comments .comment {
    padding: 10px 5px; }
    .detail-page .comments .comment .user-avatar {
      float: left; }
      .detail-page .comments .comment .user-avatar .avatar {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        border: 3px solid #ff8b28; }
        .detail-page .comments .comment .user-avatar .avatar.m {
          border-color: #287eff; }
        .detail-page .comments .comment .user-avatar .avatar.f {
          border-color: #ff28e4; }
    .detail-page .comments .comment .content {
      margin-left: 60px;
      padding: 0 15px; }
      .detail-page .comments .comment .content .header {
        padding-top: 3px; }
        .detail-page .comments .comment .content .header .nickname {
          font-weight: bold;
          color: #ff8b28; }
          .detail-page .comments .comment .content .header .nickname.f {
            color: #ff28e4; }
          .detail-page .comments .comment .content .header .nickname.m {
            color: #287eff; }
        .detail-page .comments .comment .content .header .date {
          font-size: 12px;
          color: #767676;
          padding-left: 10px; }
        .detail-page .comments .comment .content .header a:hover {
          text-decoration: none; }

.profile-page {
  background-color: #fff;
  padding: 0 0 20px;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  border-bottom: 62px solid #323a54; }
  .profile-page h1 {
    text-align: center;
    margin: 0;
    background-color: #323a54;
    color: #fff;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px; }
  .profile-page .profile-update {
    padding: 40px 30px; }
  .profile-page .avatar {
    margin-top: 30px;
    text-align: center; }
    .profile-page .avatar img {
      border-radius: 50%;
      border: 5px solid #ff8b28;
      width: 300px;
      height: 300px; }
      .profile-page .avatar img.f {
        border-color: #ff28e4; }
      .profile-page .avatar img.m {
        border-color: #287eff; }
    .profile-page .avatar .username {
      color: #ff8b28;
      font-weight: bold;
      font-size: 18px; }
      .profile-page .avatar .username.f {
        color: #ff28e4; }
      .profile-page .avatar .username.m {
        color: #287eff; }
    .profile-page .avatar a {
      display: block;
      font-size: 15px;
      text-align: center; }
  .profile-page .statistics {
    margin-top: 30px; }
    .profile-page .statistics .chart-wrapper {
      margin: 0 auto;
      height: 330px;
      width: 330px; }
  .profile-page .thoughts-history {
    padding: 30px; }
    .profile-page .thoughts-history .thought {
      margin-bottom: 25px;
      color: black;
      transition: all 0.2s;
      padding: 20px 10px 15px;
      border-radius: 5px;
      -webkit-box-shadow: 8px 8px 11px -5px rgba(97, 94, 97, 0.69);
      -moz-box-shadow: 8px 8px 11px -5px rgba(97, 94, 97, 0.69);
      box-shadow: 8px 8px 11px -5px rgba(97, 94, 97, 0.69);
      position: relative; }
      .profile-page .thoughts-history .thought .thought-author-info .avatar-wrapper {
        text-align: center; }
        .profile-page .thoughts-history .thought .thought-author-info .avatar-wrapper .avatar {
          border-radius: 50%;
          width: 75px;
          height: 75px;
          border: 3px solid #ff8b28;
          text-align: center; }
          .profile-page .thoughts-history .thought .thought-author-info .avatar-wrapper .avatar.m {
            border-color: #287eff; }
          .profile-page .thoughts-history .thought .thought-author-info .avatar-wrapper .avatar.f {
            border-color: #ff28e4; }
      .profile-page .thoughts-history .thought .thought-author-info .nickname {
        text-align: center;
        font-weight: bold;
        padding-top: 5px; }
        .profile-page .thoughts-history .thought .thought-author-info .nickname span {
          color: #ff8b28; }
          .profile-page .thoughts-history .thought .thought-author-info .nickname span.f {
            color: #ff28e4; }
          .profile-page .thoughts-history .thought .thought-author-info .nickname span.m {
            color: #287eff; }
      .profile-page .thoughts-history .thought a .thought-content {
        color: black;
        min-height: 95px; }
        .profile-page .thoughts-history .thought a .thought-content p {
          padding: 25px 92px 20px 20px;
          text-decoration: none; }
      .profile-page .thoughts-history .thought a:hover {
        text-decoration: none; }
      .profile-page .thoughts-history .thought .thought-edit {
        position: absolute;
        top: 10px;
        right: 10px; }
      .profile-page .thoughts-history .thought .info {
        margin-top: 12px;
        border-top: 1px solid rgba(125, 98, 98, 0.3); }
        .profile-page .thoughts-history .thought .info .date, .profile-page .thoughts-history .thought .info .comments-quantity {
          font-size: 13px;
          color: #313131;
          padding: 10px 15px 0;
          float: right;
          font-family: 'Arial', sans-serif;
          font-style: italic; }
      .profile-page .thoughts-history .thought-positive {
        background-color: rgba(185, 255, 171, 0.76); }
      .profile-page .thoughts-history .thought-negative {
        background-color: rgba(255, 187, 198, 0.76); }
      .profile-page .thoughts-history .thought-neutral {
        background-color: rgba(230, 230, 230, 0.76); }
    .profile-page .thoughts-history .thought {
      position: relative; }
      .profile-page .thoughts-history .thought .thought-content p {
        padding-right: 92px; }
      .profile-page .thoughts-history .thought .thought-edit {
        position: absolute;
        top: 10px;
        right: 10px; }
    .profile-page .thoughts-history .alert a {
      font-weight: bold;
      text-decoration: underline; }

.statistics-page {
  background-color: #fff;
  padding: 0 0 20px;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  border-bottom: 62px solid #323a54; }
  .statistics-page h1 {
    text-align: center;
    margin: 0;
    background-color: #323a54;
    color: #fff;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px; }
  .statistics-page .chart-wrapper {
    max-width: 500px;
    margin: 55px auto;
    text-align: center; }
    .statistics-page .chart-wrapper h2 {
      color: #545353; }

.login-page {
  background-color: #fff;
  padding: 0 0 20px;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  border-bottom: 62px solid #323a54; }
  .login-page h1 {
    text-align: center;
    margin: 0;
    background-color: #323a54;
    color: #fff;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px; }
  .login-page .login-form {
    margin: 70px 0 30px;
    padding: 0 30px; }
  .login-page .links {
    padding: 0 30px;
    margin-bottom: 50px; }

.register-page {
  background-color: #fff;
  padding: 0 0 20px;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  border-bottom: 62px solid #323a54;
  min-height: 500px; }
  .register-page h1 {
    text-align: center;
    margin: 0;
    background-color: #323a54;
    color: #fff;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px; }
  .register-page .register-form {
    margin: 50px 0;
    padding: 0 40px; }
  .register-page .alert-success {
    margin: 30px 10px 70px; }

/*# sourceMappingURL=style.css.map */
