{% extends "thoughts/base.html" %}


{% block title %} Statistics {% endblock title %}


{% block main %}
  <div class="statistics">
    <h1><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> Statistics</h1>
    <div class="chart-wrapper">
      <h2>Male / Female Activity</h2>
      <canvas id ="genderChart"></canvas>
    </div>

    <div class="chart-wrapper">
      <h2>Types of thinks</h2>
      <canvas id ="statusChart"></canvas>
    </div>
    
  </div>
{% endblock main %}



{% block javascript %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script>
    var gc = $('#genderChart'); // gc - gender chart
    var genderChart = new Chart(gc, {
      type: 'pie',
      data: {
        labels: {{ genders_data.labels|safe }},
        datasets: [{
          data: {{ genders_data.values|safe }},
          backgroundColor: {{ genders_data.bgcolors|safe}},
        }]
      }, //end data
    })

    var sc = $('#statusChart'); // sc - status chart
    var statusChart = new Chart(sc, {
      type: 'pie',
      data: {
        labels: {{ statuses_data.labels|safe }},
        datasets: [{
          data: {{ statuses_data.values|safe }},
          backgroundColor: {{ statuses_data.bgcolors|safe }},
        }]
      }, //end data
    })
  </script>
{% endblock javascript %}